@keyframes spinPulse {
    0% {
        transform: translateY(-50%) rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7
    }

    50% {
        transform: translateY(-50%) rotate(145deg);
        opacity: 1;
    }

    100% {
        transform: translateY(-50%) rotate(-320deg);
        opacity: 0;
    }
}

@keyframes spinoffPulse {
    0% {
        transform: translateY(-50%) rotate(0deg)
    }

    100% {
        transform: translateY(-50%) rotate(360deg)
    }
}

.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000000000;
    background: #000;
    top: 0;
}

.circle-outer {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: transparent;
    border: 5px solid rgba(0, 183, 229, .9);
    opacity: .9;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    animation: spinPulse 1s infinite linear;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0
}

.circle-inner {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-color: transparent;
    border: 5px solid rgba(0, 183, 229, .9);
    opacity: .9;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-radius: 30px;
    box-shadow: 0 0 15px #2187e7;
    animation: spinoffPulse 1s infinite linear;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0
}

.arrow {
    border: 0 solid transparent;
    border-left-color: white;
    border-width: 4px 0 4px 4px;
    height: 0;
    left: 50%;
    margin-left: -2px;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 0
}

body.right-rail-open .arrow {
    border-width: 4px 4px 4px 0;
    border-left-color: transparent;
    border-right-color: white
}

.arrow-holder-clickable {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10px;
    cursor: pointer;
}

.right-rail {
    background-color: turquoise;
    z-index: 99999999;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    overflow: hidden;
    border-radius: 0px 5px 5px 0px;
    border-right: 1px solid white;
}

section#SideRail {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
}

#results li {
    border-bottom: 1px solid #c3faff;
    display: block;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s
}

#results li:hover {
    background-color: rgba(82,197,186,0.43)
}

#results li:active {
    background-color: rgba(82,197,186,0.78)
}

#results li .fvlist {
    align-items: center;
    display: flex
}

#results li .fvthumb {
    border-radius: 5px;
    border: 1px solid #c3faff;
    display: inline-table;
    float: left;
    height: 38px;
    margin-right: 5px;
    width: 68px
}
